.App {
  text-align: center;
  font-family: "Krona One";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* input:focus {
  outline: none;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button-primary {
  border-radius: 81px;
  background: linear-gradient(71deg, #fa5b0b -4.65%, #8fd9f5 94.43%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.borderColor {
  width: 137px;
  height: 3px;
  background: linear-gradient(71deg, #fa5b0b -4.65%, #8fd9f5 94.43%);
}
